[submodule "googleapis"]
	path = src/googleapis
	url = https://github.com/googleapis/googleapis
[submodule "src/flyte"]
	path = src/flyte
	url = https://github.com/flyteorg/flyte
[submodule "src/grpc-gateway"]
	path = src/grpc-gateway
	url = https://github.com/grpc-ecosystem/grpc-gateway.git
